<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="App.book.detail.title">Book</span> {{ book.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.book.name">Name</span></dt>
                <dd>
                    <span>{{ book.name }}</span>
                </dd>
                <dt><span jhiTranslate="App.book.author">Author</span></dt>
                <dd>
                    <span>{{ book.author }}</span>
                </dd>
                <dt><span jhiTranslate="App.book.year">Year</span></dt>
                <dd>
                    <span>{{ book.year }}</span>
                </dd>
                <dt><span jhiTranslate="App.book.publisher">Publisher</span></dt>
                <dd>
                    <span>{{ book.publisher }}</span>
                </dd>
                <dt><span jhiTranslate="App.book.amount">Amount</span></dt>
                <dd>
                    <span>{{ book.amount }}</span>
                </dd>
                <dt><span jhiTranslate="App.book.price">Price</span></dt>
                <dd>
                    <span>{{ book.price }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
