<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.exportDetails.home.title">Export Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-export-details" [routerLink]="['/export-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="App.exportDetails.home.createLabel">
            Create a new Export Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'App.exportDetails.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="exportDetails?.length === 0">
        <span jhiTranslate="App.exportDetails.home.notFound">No exportDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="exportDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="App.exportDetails.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="importPrice"><span jhiTranslate="App.exportDetails.importPrice">Import Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bookId"><span jhiTranslate="App.exportDetails.book">Book</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="exportBookId"><span jhiTranslate="App.exportDetails.exportBook">Export Book</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exportDetails of exportDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/export-details', exportDetails.id, 'view']">{{ exportDetails.id }}</a></td>
                    <td>{{ exportDetails.amount }}</td>
                    <td>{{ exportDetails.importPrice }}</td>
                    <td>
                        <div *ngIf="exportDetails.bookId">
                            <a [routerLink]="['/book', exportDetails.bookId , 'view']" >{{ exportDetails.bookId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="exportDetails.exportBookId">
                            <a [routerLink]="['/export-book', exportDetails.exportBookId , 'view']" >{{ exportDetails.exportBookId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/export-details', exportDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/export-details', exportDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(exportDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="exportDetails?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
