<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exportDetails">
            <h2><span jhiTranslate="App.exportDetails.detail.title">Export Details</span> {{ exportDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.exportDetails.amount">Amount</span></dt>
                <dd>
                    <span>{{ exportDetails.amount }}</span>
                </dd>
                <dt><span jhiTranslate="App.exportDetails.importPrice">Import Price</span></dt>
                <dd>
                    <span>{{ exportDetails.importPrice }}</span>
                </dd>
                <dt><span jhiTranslate="App.exportDetails.book">Book</span></dt>
                <dd>
                    <div *ngIf="exportDetails.bookId">
                        <a [routerLink]="['/book', exportDetails.bookId, 'view']">{{ exportDetails.bookId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="App.exportDetails.exportBook">Export Book</span></dt>
                <dd>
                    <div *ngIf="exportDetails.exportBookId">
                        <a [routerLink]="['/export-book', exportDetails.exportBookId, 'view']">{{ exportDetails.exportBookId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/export-details', exportDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
