<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="importDetails">
            <h2><span jhiTranslate="App.importDetails.detail.title">Import Details</span> {{ importDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.importDetails.amount">Amount</span></dt>
                <dd>
                    <span>{{ importDetails.amount }}</span>
                </dd>
                <dt><span jhiTranslate="App.importDetails.importPrice">Import Price</span></dt>
                <dd>
                    <span>{{ importDetails.importPrice }}</span>
                </dd>
                <dt><span jhiTranslate="App.importDetails.book">Book</span></dt>
                <dd>
                    <div *ngIf="importDetails.bookId">
                        <a [routerLink]="['/book', importDetails.bookId, 'view']">{{ importDetails.bookId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="App.importDetails.importBook">Import Book</span></dt>
                <dd>
                    <div *ngIf="importDetails.importBookId">
                        <a [routerLink]="['/import-book', importDetails.importBookId, 'view']">{{ importDetails.importBookId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/import-details', importDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
