<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-import-details-heading" jhiTranslate="App.importDetails.home.createOrEditLabel">Create or edit a Import Details</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.importDetails.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.importDetails.importPrice" for="field_importPrice">Import Price</label>
                    <input type="number" class="form-control" name="importPrice" id="field_importPrice"
                           formControlName="importPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.importDetails.book" for="field_book">Book</label>
                    <select class="form-control" id="field_book" name="book" formControlName="bookId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookOption.id" *ngFor="let bookOption of books; trackBy: trackById">{{ bookOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.importDetails.importBook" for="field_importBook">Import Book</label>
                    <select class="form-control" id="field_importBook" name="importBook" formControlName="importBookId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="importBookOption.id" *ngFor="let importBookOption of importbooks; trackBy: trackById">{{ importBookOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
