<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exportBook">
            <h2><span jhiTranslate="App.exportBook.detail.title">Export Book</span> {{ exportBook.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.exportBook.exportDate">Export Date</span></dt>
                <dd>
                    <span>{{ exportBook.exportDate }}</span>
                </dd>
                <dt><span jhiTranslate="App.exportBook.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{ exportBook.totalAmount }}</span>
                </dd>
                <dt><span jhiTranslate="App.exportBook.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="exportBook.employeeId">
                        <a [routerLink]="['/employee', exportBook.employeeId, 'view']">{{ exportBook.employeeId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="App.exportBook.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="exportBook.customerId">
                        <a [routerLink]="['/customer', exportBook.customerId, 'view']">{{ exportBook.customerId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/export-book', exportBook.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
