<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="importBook">
            <h2><span jhiTranslate="App.importBook.detail.title">Import Book</span> {{ importBook.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.importBook.importDate">Import Date</span></dt>
                <dd>
                    <span>{{ importBook.importDate }}</span>
                </dd>
                <dt><span jhiTranslate="App.importBook.provider">Provider</span></dt>
                <dd>
                    <span>{{ importBook.provider }}</span>
                </dd>
                <dt><span jhiTranslate="App.importBook.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="importBook.employeeId">
                        <a [routerLink]="['/employee', importBook.employeeId, 'view']">{{ importBook.employeeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/import-book', importBook.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
